<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/public/css/test33.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/public/css/style2.css" | relative_url }}">
  <!--<link rel="stylesheet" href="{{ "/public/css/hyde.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/public/css/pool.css" | relative_url }}" />-->
  <!--<link rel="stylesheet" href="{{ "/public/css/syntax.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/public/css/tips.css" | relative_url }}" />-->
  <script type="text/javascript" src="{{ "/public/js/tips.js" | relative_url }}"></script>
  {%- feed_meta -%} 
</head>